<head>
    <meta charset="utf-8">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="author" content="Kristoffer Alfheim (https://twitter.com/krisawzm)">
    <title>{{ this.page.title }}</title>
    {% styles %}
    <link rel="stylesheet" href="{{ [
        'assets/css/app.css'
    ]|theme }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
