description = "Layout for Embed demo"

[staticPage]
==
<!DOCTYPE html>
<html lang="en">
    {% partial 'html-head' %}
    <body>
        <div class="container">
            {% content 'header' %}

            <div class="jumbotron">
                <h1><a href="https://octobercms.com/plugin/krisawzm-embed">Embed Plugin</a> Demo</h1>
                <p>Click <a href="backend">here</a> to access the Backend area.</p>
                <p>Feel free to create new pages and test out the plugin. :-)</p>
            </div>

            {% page %}

            {% content 'footer' %}
        </div>

        {% partial 'html-js' %}
    </body>
</html>
